body {
  margin: 0;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}

.change-text-container{
  z-index: 999;
  position: absolute;
  top: 80px;
  left: 80px;
  display: flex;
  column-gap: 10px;
}

.flex-column{
  flex-direction: column;
}

.true-condition{
  color: darkseagreen;
}

.false-condition{
  color:crimson;
}

.waiting-condition{
  color:deepskyblue;
}

.waiting-animation-bar{
  position: relative;
  height: 16px;
  width: 28px;
  background: deepskyblue;
  display: flex;
}

.hide{
  display: none;
}

.flex-show{
  display: flex;
}

.row{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.change-text-container-notification{
  color:#fff;
}

.description{
  margin: 0;
}

/*GUI*/
#gui-container{
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 100vh;
}
.lil-gui.root > .children .title{
  color: chartreuse;
}

#pre-loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#138ba6, #ab8ed4);
}

#object-info-container{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 400px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
}

.info-label{
  color: #ab8ed4;
  font-weight: 700;;
}

.info-title{
  font-size: 13px;
}

.info-value{
  font-size: 13px;
  color:#138ba6
}